<div class="date-switcher">
	<a {{action "switchMonth" -1}}>&lt;</a>
	<a class="current-month" {{action "resetMonth"}} title={{t "components.date_switcher.return"}}>
		{{selectedMonth.year}}-{{pad-start selectedMonth.displayMonth 2 '0'}}
		{{#if (not isCurrentMonthSelected)}}
		<span class="not-current-month-warning" title={{t "components.date_switcher.not_current_month"}}>
			{{fa-icon "warning"}}
		</span>
		{{/if}}
	</a>
	<a {{action "switchMonth" 1}}>&gt;</a>
</div>