<div class="expense-row control is-grouped">
    <p class="control">
        <input class="input expense-name {{nameErrorClass}}" placeholder="Expense name" oninput={{action 'set' "model.name"}}>
    </p>
    <p class="control has-icon has-icon-right">
        <input class="input expense-price {{priceErrorClass}}" placeholder="Price"
               oninput={{action 'set' "model.price"}}>
    </p>
    <p class="control" style="width: 400px">
        {{#power-select triggerClass="input"
        selected=model.category
        options=options
        onchange=(action "changedCategory")
        onfocus=(action "handleFocus")
        onkeydown=(action "handleCategoryInput")
        placeholder="Category"
        as |name|}}
            {{name}}
        {{/power-select}}
    </p>
    <p class="control has-icon has-icon-right">
        <input class="input expense-discount {{discountErrorClass}}" placeholder="Discount"
               oninput={{action 'set' "model.discount"}}>
        <i class="fa fa-percent"></i>
    </p>
</div>
