<h1 class="container title">{{t "section.categories.title"}}</h1>
<div class="action-row">
	<div class="container">
		<span>{{t "section.categories.index.operations"}}</span>
		{{#link-to "categories.new" class="button is-primary"}}{{t "section.categories.index.add_new_category"}}{{/link-to}}
	</div>
</div>

<article class="container">
	<table class="table">
		<thead>
		<tr>
			<th>{{t "section.categories.index.name_path"}}</th>
			<th>{{t "section.categories.index.actions"}}</th>
		</tr>
		</thead>
		<tbody>
		{{#each sortedCategories as |row|}}
			<tr>
				<td>{{{row.namePathForHtml}}}</td>
				<td>
                    <span class="icon">
	                    {{#link-to "categories.edit" row.id title=(t "section.categories.index.action.edit" category=row.namePath)}}
		                    <i class="fa fa-edit"></i>
	                    {{/link-to}}
                    </span>
					<span class="icon">
                        <a href="#" onclick={{action "deleteCategory" row.id}} title={{t "section.categories.index.action.delete" category=row.namePath}}>
                            <i class="fa fa-remove"></i>
                        </a>
                    </span>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</article>
