<article class="categories-index-route">
	<h1 class="container title">{{t "section.categories.title"}}</h1>
	<div class="route-index-actions">
		<div class="container">
			{{#link-to "categories.new" class="button is-primary action-new-category"}}{{t "section.categories.index.add_new_category"}}{{/link-to}}
		</div>
	</div>

	<article>
		<table class="table">
			<thead>
			<tr>
				<th>{{t "section.categories.index.name_path"}}</th>
				<th>{{t "section.categories.index.actions"}}</th>
			</tr>
			</thead>
			<tbody>
			{{#each sortedCategories as |row|}}
				{{categories/category-index-row row=row onDeleteCategory=(action 'deleteCategory')}}
			{{/each}}
			</tbody>
		</table>
	</article>
</article>