<tr>
	<td>{{{row.name}}}</td>
	<td>
		{{currency-format row.realPrice}}
	</td>
	<td>
		{{#if row.category}}
			{{{row.category.namePathForHtml}}}

			<a href="{{href-to "expenses.index" (query-params filter-category-id=row.category.id)}}"
			   title={{t "section.expenses.index.filter_by_category"}}>
				<i class="fa fa-filter fa-lg"></i>
			</a>
		{{else}}
			{{t "section.expenses.index.missing_category"}}
		{{/if}}
	</td>
	<td>
		{{#if row.purchasedAt}}
			{{moment-format row.purchasedAt "DD-MM-YYYY"}}
		{{else}}
			{{t "section.expenses.index.missing_expense_date"}}
		{{/if}}
	</td>
	<td class="actions-cell">
	                    <span class="icon">

							<a href="{{href-to "expenses.edit"}}"
							   title={{t "section.expenses.index.action.edit" expense=row.name}}>
								<i class="fa fa-edit"></i>
							</a>
	                    </span>
		<span class="icon">
	                        <a href="#" {{action "deleteExpense" row.id}} title={{t "section.expenses.index.action.delete" expense=row.name}}>
                                <i class="fa fa-remove fa-lg"></i>
	                        </a>
	                    </span>
	</td>
</tr>