<div class="expenses-index-route">
	<h1 class="container title">{{t "section.expenses.title"}}</h1>

	<nav class="level">
		<div class="level-left">
			<div class="level-item">
				<p class="subtitle is-5">
					{{t "section.expenses.index.actions"}}:
				</p>
			</div>
			<div class="level-item">
				{{#link-to "expenses.receipt" class="button is-primary"}}{{t "section.expenses.index.add_new_receipt"}}{{/link-to}}
			</div>
		</div>

		<div class="level-right">
			<div class="level-item">
				<p class="subtitle is-5">
					{{t "section.expenses.index.expenses"}}:

					<strong>
						{{#if isFiltered}}{{filteredExpenses.length}} / {{/if}}{{model.expenses.length}}
					</strong>
				</p>
			</div>
		</div>
	</nav>

	<nav class="level">
		<div class="level-left level-wrap">
			<div class="level-item">
				<p class="subtitle is-5">
					{{t "section.expenses.index.filtering"}}:
					{{if (not isFiltered) (t "section.expenses.index.filters_none")}}
				</p>
			</div>
			<div class="level-item">
				{{#if filterCategory}}
					<a class="button is-info is-small" {{action "removeFilter" "filterCategoryId"}}>
						<span><strong>{{t "section.expenses.index.filters.by_category"}}</strong> {{filterCategory.namePath}}</span>
						<span class="icon">
							{{fa-icon "close"}}
						</span>
					</a>
				{{/if}}
			</div>
		</div>
	</nav>

	<article>
		{{expenses/expense-table expenses=expenses page=safePage}}
	</article>
</div>