<h1 class="container title">
	{{t "section.expenses.title"}}
	<span class="date-switcher">
		<a onclick={{action "switchMonth" -1}}>&lt;</a>
		<span class="current-month">
			{{currentMonth.year}}-{{pad-start currentMonth.displayMonth 2 '0'}}
		</span>
		<a onclick={{action "switchMonth" 1}}>&gt;</a>
	</span>
</h1>
<div class="action-row">
	<div class="container">
		{{#link-to "expenses.receipt" class="button is-primary"}}{{t "section.expenses.index.add_new_receipt"}}{{/link-to}}
	</div>
</div>

<article class="container">
	<table class="table">
		<thead>
		<tr>
			<th>{{t "section.expenses.index.product"}}</th>
			<th>{{t "section.expenses.index.final_price"}}</th>
			<th>{{t "section.expenses.index.category"}}</th>
			<th>{{t "section.expenses.index.expense_date"}}</th>
			<th>{{t "section.expenses.index.actions"}}</th>
		</tr>
		</thead>
		<tbody>
		{{#each filteredExpenses as |row|}}
			<tr>
				<td>{{{row.name}}}</td>
				<td>
					{{row.priceDisplay}}
				</td>
				<td>
					{{#if row.category}}
						{{{row.category.namePathForHtml}}}
					{{else}}
						{{t "section.expenses.index.missing_category"}}
					{{/if}}
				</td>
				<td>
					{{#if row.purchasedAt}}
						{{moment-format row.purchasedAt "DD-MM-YYYY"}}
					{{else}}
						{{t "section.expenses.index.missing_expense_date"}}
					{{/if}}
				</td>
				<td>
                    <span class="icon">
	                    {{#link-to "expenses.edit" row.id title=(t "section.expenses.index.action.edit" expense=row.name)}}
		                    <i class="fa fa-edit"></i>
	                    {{/link-to}}
                    </span>
					<span class="icon">
                        <a href="#" {{action "deleteExpense" row.id}} title={{t "section.expenses.index.action.delete" expense=row.name}}>
                            <i class="fa fa-remove"></i>
                        </a>
                    </span>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</article>
