<div class="tabs is-toggle">
	<ul>
		{{#each options as |option|}}
			<li class="item-{{slugify option.value}} {{if (eq option.value value) "is-active" ""}}" {{action "handleClicked" option.value}}>
				<a>
					{{#if option.icon}}
						<span class="icon is-small">{{fa-icon "image"}}</span>
					{{/if}}
					<span>{{option.display}}</span>
				</a>
			</li>
		{{/each}}
	</ul>
</div>