<div id="met-application">
	{{layout/lay-head selectedMonth=selectedMonth selectedMonthChanged=(action 'selectedMonthChanged')}}

	{{global-notifications}}
	<div class="route-content">
		{{outlet}}
	</div>

	<footer class="section-footer">
		<div class="container">
			<div class="columns">
				<div class="column">
					<h4>{{{t "footer.header_1"}}}</h4>
					<p>{{{t "footer.body_1"}}}</p>
				</div>
				<div class="column">
					<h4>{{{t "footer.header_2"}}}</h4>
					<p>{{{t "footer.body_2"}}}</p>
				</div>
				<div class="column">
					<h4>{{{t "footer.header_3"}}}</h4>
					<p>{{{t "footer.body_3"}}}</p>
				</div>
			</div>
		</div>
		<div class="container">
			<ul class="credits">
				<li>{{{t "footer.made_by"}}}</li>
				<li>{{{t "footer.thanks"}}}</li>
			</ul>
		</div>
	</footer>
</div>