<header>
	<div class="container">
		<div class="headers">
			<h1 class="title">{{t "app.title"}}</h1>
			<h4 class="subtitle">{{t "app.subtitle"}}</h4>
		</div>
		<nav>
			<strong>{{t "navigation.main_menu"}}</strong>
			{{#link-to "categories.index"}}{{t "navigation.categories"}}{{/link-to}}
			{{#link-to "expenses.index"}}{{t "navigation.expenses"}}{{/link-to}}
			{{#link-to "summary"}}{{t "navigation.summary"}}{{/link-to}}
			{{#link-to "options"}}{{t "navigation.options"}}{{/link-to}}
		</nav>
	</div>
</header>

{{global-notifications}}
<div class="route-content">
	{{outlet}}
</div>

<footer>
	<div class="container">
		<div class="columns">
			<div class="column">
				<h4>{{{t "footer.header_1"}}}</h4>
				<p>{{{t "footer.body_1"}}}</p>
			</div>
			<div class="column">
				<h4>{{{t "footer.header_2"}}}</h4>
				<p>{{{t "footer.body_2"}}}</p>
			</div>
			<div class="column">
				<h4>{{{t "footer.header_3"}}}</h4>
				<p>{{{t "footer.body_3"}}}</p>
			</div>
		</div>
		<ul class="credits">
			<li>{{{t "footer.made_by"}}}</li>
			<li>{{{t "footer.thanks"}}}</li>
		</ul>
	</div>
</footer>