<div class="options-route">
	<div class="tabs">
		<ul>
			{{#link-to "options.language" tagName="li" activeClass="is-active"}}
				<a>
					<span class="icon is-small">{{fa-icon "language"}}</span>
					<span>{{t "section.options.headers.language"}}</span>
				</a>
			{{/link-to}}
			{{#link-to "options.storage" tagName="li" activeClass="is-active"}}
				<a>
					<span class="icon is-small">{{fa-icon "database"}}</span>
					<span>{{t "section.options.headers.storage"}}</span>
				</a>
			{{/link-to}}
		</ul>
	</div>
	{{outlet}}
</div>
