<div class="expenses-summary">
	<h1 class="container title">
		{{t "section.summary.title"}}
	</h1>

	<table class="summary">
		{{#each-in expensesPerCategory as |key data|}}
			<tr class="{{if data.category.hasChildren "has-children" "no-children"}}">
				<td class="category">
					{{{data.category.namePathForHtml}}}
				</td>
				<td class="value">
					{{currency-format data.sum}}
				</td>
				<td class="percent">
					{{percent-format data.percentFraction isFraction=true}}
				</td>
			</tr>
		{{/each-in}}
		{{#if uncategorizedSum}}
			<tr class="no-category">
				<th class="category">{{t 'section.summary.no_category'}}</th>
				<td class="value">{{currency-format uncategorizedSum}}</td>
				<td></td>
			</tr>
		{{/if}}
		<tr class="sum">
			<th class="category">{{t 'section.summary.total'}}</th>
			<td class="value">{{currency-format totalSum}}</td>
			<td></td>
		</tr>
	</table>
</div>